@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-8xl;
    color: theme(colors.wpu);
  }
}

@layer components {
  .grid-card {
    @apply bg-blue-500 aspect-[4/3] rounded-lg md:aspect-[3/4] xl:aspect-[4/3] overflow-hidden relative hover:scale-95 transition-all duration-500;
  }

  .grid-card-img {
    @apply w-full h-full bg-cover bg-center absolute group-hover:scale-125 group-hover:rotate-12 transition-all duration-500;
  }
}

@layer utilities {
  #toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
  }
}
